.header{
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(4, 9, 30, 0.507),rgba(4, 9, 30, 0.726)),url(images/123.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
}

    
.title {
    color: rgb(255, 0, 0);
    padding-top: 150px;
    font-size: 3rem;
    margin: 2rem 0rem;
}
.faq {
    margin: auto;
    color: rgb(255, 255, 255);
    max-width: 700px;
    margin-top: 2rem;
    padding-bottom: 1rem;
    border-bottom: 2px solid red;
    cursor: pointer;
}
.question{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.question h3 {
    font-size: 1.8rem;
}
.answer{
    max-height: 0;
    overflow: hidden;
    transition: max-height 1.4s ease;
}

.answer p {
    padding-top: 1rem;
    line-height: 1.6;
    font-size: 1.4rem;
}
.faq.active .answer{
    max-height: 300px;
    animation: fade 1s ease-in-out;
}
.faq.active svg{
    transform: rotate(180deg);
}
svg {
    transition: transform 0.5s ease-in;
}
.footer h4,p{
    color: #fff;
}

@keyframes fade {
    from {
        opacity: 0;
        transform: translateY(-10px);
    }
    to {
        opacity: 1;
        transform: translateY(0px);
    }
    
}