*{
    box-sizing: border-box;
}

h1{
    text-align: center;
    font-size: 62px;
    margin-top: 50px;
    color: red;
}

.wrapper{
    display: flex;
    width: 100%;
    justify-content: space-around;
    
}
.card{
    width: 612px;
    height: 445px;
    padding: 2rem 1rem;
    background: rgba(110, 110, 110, 0.212);
    position: relative;
    display: flex;
    align-items: flex-end;
    box-shadow: 0px 7px 10px rgba(0,0,0,0.5);
    transition: 0.5s ease-in-out;
}

.card:hover{
    transform: translateY(20px);
}
.card:before{
    content:"";
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, rgba(34, 1, 1, 0.493), rgb(201, 61, 61));
    z-index: 2;
    transition: 0.5s all;
    opacity: 0;
}
.card:hover:before{
    opacity: 1;
}

.card img{
    padding: 40px;
    justify-content: space-around;
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
}

.card .info{
    position: relative;
    z-index: 3;
    color: #fff;
    opacity: 0;
    transform: translateY(30px);
    transition: 0.5s all;
}
.card:hover .info{
    opacity: 1;
    transform: translateY(0px);
}

.card .info h1{
    margin: 0;
    color: rgb(147, 201, 223);
}
.card .info p{
    letter-spacing: 1px;
    font-size: 15px;
    margin-top: 8px;
    margin-bottom: 20px;
}
.card .info .btn{
    text-decoration: none;
    padding: 0.5rem 1rem;
    background: #fff;
    color: #000;
    font-size:14px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.4s ease-in-out;
}

.card .info .btn:hover{
    box-shadow: 0px 7px 10px rgba(0,0,0,0.5);
}



































.footer h4,p{
    color: #fff;

}
@media(max-width:700px){
    .card img{
        padding: 5px;

        

        
        
        
    }
    .card .info h1{
        font-size: 20px;
        
    }
    .card .info p{
        font-size: 10px;
    }
    .card .info .btn{
        font-size: 5px;
    }
    
   

    
}